# Project exclude paths
/cloud-api-commons/target/
/cloud-config-center3344/target/
/cloud-config-client3355/target/
/cloud-config-client3366/target/
/cloud-consumer-fegin-hysttrix-order80/target/
/cloud-consumer-fegin-order80/target/
/cloud-consumer-hystrix-dashboard9001/target/
/cloud-consumerconsul-order80/target/
/cloud-consumerzk-order80/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-getway9527/target/
/cloud-prividerconsul-payment8006/target/
/cloud-provide-payment8001/target/
/cloud-provide-payment8002/target/
/cloud-provide-payment8004/target/
/cloud-provider-hysyrix-payment8001/target/
/cloud-stream-rabbitmq-provider8801/target/
/cloud-stream-rabbitmq-receive8802/target/
/cloud-stream-rabbitmq-receive8803/target/
/cloudalibab-order-consumer83/target/
/cloudalibaba-config-nacos-client3377/target/
/cloudalibaba-consumer-order84/target/
/cloudalibaba-provider-payment9001/target/
/cloudalibaba-provider-payment9002/target/
/cloudalibaba-provider-payment9003/target/
/cloudalibaba-provider-payment9004/target/
/cloudalibaba-sentinel-service8401/target/
/seata-order-service2001/target/
/seata-order-service2002/target/
/seata-order-service2003/target/